PORT=5002

MONGO_URI=mongodb+srv://habibanadeem075:habibanadeem075@cluster0.wuazcuk.mongodb.net/

CLIENT_URL_LOCAL=http://localhost:5173
 CLIENT_URL_PROD=https://birthday-card-generator-frontend.vercel.app
